<!DOCTYPE html>
<html ng-app="MedeiApp">
<script type="text/javascript" src="../scripts/angular.min.js"></script>
<script type="text/javascript" src="../scripts/angular-route.min.js"></script>

<!--Services-->
<script type="text/javascript" src="app/services/loginService.js"></script>
<script type="text/javascript" src="app/services/userService.js"></script>
<!--Controllers-->
<script type="text/javascript" src="app/ctrls/loginCtrl.js"></script>
<script type="text/javascript" src="app/ctrls/userCtrl.js"></script>

<script type="text/javascript" src="app/approutes.js"></script>
<script type="text/javascript" src="app/app.js"></script>

<head>
    <base href="/">
    <title> Medei assignment page </title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
<main class="container">
<div ng-view></div>
</main>
</body>
</html>