<div class="jumbotron text-center">
    <div>
        <h2>Thank you for choosing to register!</h2>
    </div>
    <div>
        <p>Please insert your user details</p>
    </div>

    <div class="container" ng-controller="CreateUserCtrl as userCtrl">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <form name= "signupForm" class= "form-sigin" method="post" >
                    First Name: <input type="text" name="fname" class="form-control" ng-model="userCtrl.userData.fname" required>
                    Last Name: <input type="text" name="lname" class="form-control" ng-model="userCtrl.userData.lname" required>
                    Email: <input type="email" name="email" class="form-control"  ng-model="userCtrl.userData.email" required>
                    Password: <input type="password" name="password" class="form-control" ng-model="userCtrl.userData.password" required></br>

                    <div ng-if="userCtrl.error"> <p><font color="red" >{{userCtrl.error}}</font></p></div>
                    <button ng-click="userCtrl.signupUser()" class="btn btn-danger">Register</button>
                    <a href="/" class="btn btn-primary">Go Back</a>
                </form>
            </div>
        </div>
    </div>


</div>